---
layout: page
title: Blog
description: Simply blog posts of stuff, currently still being sanded down. This isn't the final design yet!
permalink: /blog
icon: fas fa-rss
---
<div id="content">
<br />
<section class="hero is-dark">
  <div class="hero-body">
    <div class="container">

<div class="row">
{% for p in site.posts %}

<div class="col project" style="margin: 0.2rem;">
    <h2 class="title is-3"><a href="{{ p.url }}">{{ p.title }}</a></h2>
	<h3 style="opacity: 0.6;" class="subtitle is-5"><i>{{ p.description}}</i></h3>
    <h4 style="opacity: 0.3;" class="subtitle is-6">Posted on {{ p.date | date: '%B %d, %Y' }} by {{ p.author }}</h3>
	<i class="fas fa-comments"></i> <a href="{{ p.url }}#disqus_thread" data-disqus-identifier="{{p.id}}">0 comments</a><br />
	<br />
	<hr />
</div>

{% capture mod %}
{{ forloop.index | modulo: 2 | times: 1 }}
{% endcapture %}

<!-- {{ mod }} -->

{% if mod contains '0' %}
</div>
<div class="row">
{% endif %}

{% endfor %}
</div>

     
    </div>
  </div>
</section>
<br />

<script id="dsq-count-scr" src="//bobponyweb.disqus.com/count.js" async></script>
</div>