<br />
<div class="notification is-danger container">
<div class="columns">
<div class="column is-narrow">
<p class="has-text-centered"><i class="fas fa-bullhorn fa-4x"></i></p>
</div>
<div class="column">
 <h1 class="title is-4 has-text-centered" id="title"><b>Announcement</b></h1>
<p class="has-text-centered"> Looking for feedback on how to improve this website! <a href="https://docs.google.com/forms/d/e/1FAIpQLScVBwxsxExujo1EXkiyI9vvfOCqoeNEbyxJyd9VqWyMHIfs2w/viewform?usp=sf_link">Click here if you want to submit feedback!</a></p>
</div>
</div>
</div>
