<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% if page.title %}{{ page.title }} - Bob Pony{% else %}Bob Pony{% endif %}</title>
    <script defer src="https://use.fontawesome.com/releases/v5.0.0/js/all.js"></script>
	<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.2/css/bulma.min.css"
	<meta http-equiv="x-ua-compatible" content="ie=edge">
<meta name="description" content="{% if page.description %}{{ page.description }}{% else %}Welcome to the world of Bob Pony.{% endif %}">
<meta name="keywords" content="BPN, Bob Pony, BP, BPC, Discord, Twitter, YouTube, Blog, Home, Homepage, bobpony.org, social, chat, projects">
<meta name="author" content="Bob Pony">
<meta property="og:type" content="website">
<meta property="og:site_name" content="{% if page.title %}{{ page.title }} - Bob Pony{% else %}Bob Pony{% endif %}">
<meta property="og:title" content="{% if page.title %}{{ page.title }}{% else %}Bob Pony{% endif %}">
<meta property="og:url" content="{% if page.url %}{{ page.url }}{% else %}https://bobpony.org{% endif %}">
<meta property="og:description" content="{% if page.description %}{{ page.description }}{% else %}Welcome to the world of Bob Pony.{% endif %}">
<meta property="og:image" content="https://yt3.ggpht.com/-BuY9Yg6ri3c/AAAAAAAAAAI/AAAAAAAAAAA/s_-Dd29VH5Q/s176-c-k-no-mo-rj-c0xffffff/photo.jpg">
<meta name="description" content="{% if page.description %}{{ page.description }}{% else %}Welcome to the world of Bob Pony.{% endif %}">
<meta name="theme-color" content="#008cff">
<meta name="msapplication-TileColor" content="#008cff" />
<meta name="msapplication-square150x150logo" content="https://yt3.ggpht.com/-BuY9Yg6ri3c/AAAAAAAAAAI/AAAAAAAAAAA/s_-Dd29VH5Q/s176-c-k-no-mo-rj-c0xffffff/photo.jpg" />
<meta name="twitter:card" content="summary" />
<meta name="twitter:site" content="@TheBobPony" />
<meta name="twitter:title" content="{% if page.title %}{{ page.title }} - Bob Pony{% else %}Bob Pony{% endif %}" />
<meta name="twitter:description" content="{% if page.description %}{{ page.description }}{% else %}Welcome to the world of Bob Pony.{% endif %}" />
<meta name="twitter:image" content="https://yt3.ggpht.com/-BuY9Yg6ri3c/AAAAAAAAAAI/AAAAAAAAAAA/s_-Dd29VH5Q/s176-c-k-no-mo-rj-c0xffffff/photo.jpg" />
<link rel="icon" href="https://yt3.ggpht.com/-BuY9Yg6ri3c/AAAAAAAAAAI/AAAAAAAAAAA/s_-Dd29VH5Q/s88-c-k-no-rj-c0xffffff/photo.jpg" type="image/jpg" sizes="16x16">
	<script>
	$(document).on('click', '.notification > button.delete', function() {
    $(this).parent().addClass('is-hidden');
    return false;
});
</script>
<script>
function toggleBurger() {
    var burger = $('.burger');
    var menu = $('.navbar-menu');
    burger.toggleClass('is-active');
    menu.toggleClass('is-active');
}
</script>
<script>
function toggleModalClasses(event) {
    var modalId = event.currentTarget.dataset.modalId;
    var modal = $(modalId);
    modal.toggleClass('is-active');
    $('html').toggleClass('is-clipped');
  };

$('.open-modal').click(toggleModalClasses);

$('.close-modal').click(toggleModalClasses);
</script>
	  <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({
          google_ad_client: "ca-pub-4190226953949743",
          enable_page_level_ads: true
     });
</script>
  </head>
  <body style="background-color: #444444;">
   {{ content }}
   </body>

</html>
