---
layout: blank
announcement: Hi
---

<nav class="navbar is-dark is-fixed-top" role="navigation" aria-label="dropdown navigation">

  <div class="navbar-start container">
    <div class="navbar-brand">
      <a href="/" class="navbar-brand">
        {% avatar TheBobPony size=60%}
      </a>
      <span class="navbar-burger burger" data-target="navbarMenuHeroA">
        <span></span>
        <span></span>
        <span></span>
      </span>
    </div>&nbsp;&nbsp;
    <div id="navbarMenuHeroA" class="navbar-menu">
      <div class="navbar-start">
        <a href="/blog" class="navbar-item {% if page.url == " /blog " %}is-active{% endif %}">
          Blog
        </a>
        <div class="navbar-item has-dropdown is-hoverable">
          <a href="/downloads" class="navbar-link {% if page.url == " /downloads " %}is-active{% endif %}">
            Downloads
          </a>
          <div class="navbar-dropdown is-boxed">
            <a class="navbar-item " href="/downloads#mswin">
              <span>
                <span class="icon">
                  <i class="fab fa-windows"></i>
                </span>
                <strong>Windows</strong>
              </span>
            </a>
            <a class="navbar-item " href="/downloads#drivers">
              <span>
                <span class="icon">
                  <i class="fas fa-microchip"></i>
                </span>
                <strong>Drivers</strong>
              </span>
            </a>
            <a class="navbar-item " href="/downloads#programs">
              <span>
                <span class="icon">
                  <i class="far fa-window-restore"></i>
                </span>
                <strong>Programs</strong>
              </span>
            </a>
            <a class="navbar-item " href="/downloads#updates">
              <span>
                <span class="icon">
                  <i class="fas fa-sync"></i>
                </span>
                <strong>Updates</strong>
              </span>
            </a>
            <a class="navbar-item " href="/downloads#misc">
              <span>
                <span class="icon">
                  <i class="fas fa-question-circle"></i>
                </span>
                <strong>Misc</strong>
              </span>
            </a>
          </div>
        </div>
        <a href="/gallery" class="navbar-item {% if page.url == " /gallery " %}is-active{% endif %}">
          Gallery
        </a>
        <div class="navbar-item has-dropdown is-hoverable">
          <a href="/videos" class="navbar-link {% if page.url == " /videos " %}is-active{% endif %}">
            Videos
          </a>
          <div class="navbar-dropdown is-boxed">
            <a class="navbar-item" href="https://www.youtube.com/channel/UCAZzz2Dd9Xh6vTjNcxhqPZw/videos">
              <span>
                <span class="icon">
                  <i class="fas fa-video"></i>
                </span>
                <strong>All videos</strong>
              </span>
            </a>
            <a class="navbar-item" href="https://www.youtube.com/channel/UCAZzz2Dd9Xh6vTjNcxhqPZw/playlists">
              <span>
                <span class="icon">
                  <i class="fas fa-star"></i>
                </span>
                <strong>Playlists</strong>
              </span>
            </a>
            <hr class="navbar-divider">
            <a class="navbar-item" href="https://www.youtube.com/watch?v=x7vZW-qnj8c&list=UUAZzz2Dd9Xh6vTjNcxhqPZw" target="_blank">
              <span>
                <span class="icon">
                  <i class="fab fa-youtube"></i>
                </span>
                <strong>Watch latest video</strong>
              </span>
            </a>
            <hr class="navbar-divider">
            <a class="navbar-item " href="https://docs.google.com/forms/d/e/1FAIpQLScvtP5oNmCvEeITR5EO5E3H17_rjKVg1iOGV4DUt_XSOpppAg/viewform">
              <span>
                <span class="icon">
                  <i class="fas fa-video"></i>
                </span>
                <strong>Submit video idea</strong>
              </span>
            </a>
          </div>
        </div>
        <div class="navbar-item has-dropdown is-hoverable">
          <a href="/community" class="navbar-link {% if page.url == " /community " %}is-active{% endif %}">
            Community
          </a>
          <div class="navbar-dropdown is-boxed">
            <a class="navbar-item " href="https://discord.gg/wZSfjEx">
              <span>
                <span class="icon">
                  <i class="fab fa-discord"></i>
                </span>
                <strong>Discord Server</strong>
              </span>
            </a>
            <a class="navbar-item " href="https://github.com/TheBobPony/bobpony.org/graphs/contributors">
              <span>
                <span class="icon">
                  <i class="fab fa-github"></i>
                </span>
                <strong>GitHub Contributors</strong>
              </span>
            </a>
            <a class="navbar-item " href="https://github.com/TheBobPony/bobpony.org/wiki">
              <span>
                <span class="icon">
                  <i class="fas fa-book"></i>
                </span>
                <strong>Wiki on GitHub</strong>
              </span>
            </a>
            <!-- <a href="/partners" class="navbar-item">
  Partners
</a> -->

          </div>
        </div>
        <div class="navbar-item has-dropdown is-hoverable">
          <a href="/support" class="navbar-link {% if page.url == " /support " %}is-active{% endif %}">
            Support
          </a>
          <div class="navbar-dropdown is-boxed">
            <a class="navbar-item " href="https://status.bobpony.org">
              <span>
                <span class="icon">
                  <i class="fas fa-stethoscope"></i>
                </span>
                <strong>Status</strong>
              </span>
            </a>
            <!-- <a href="/partners" class="navbar-item">
  Partners
</a> -->

            <a class="navbar-item " href="https://docs.google.com/forms/d/e/1FAIpQLScVBwxsxExujo1EXkiyI9vvfOCqoeNEbyxJyd9VqWyMHIfs2w/viewform?usp=sf_link">
              <span>
                <span class="icon">
                  <i class="fas fa-comments"></i>
                </span>
                <strong>Send Feedback</strong>
              </span>
            </a>
            <hr class="navbar-divider">
            <a class="navbar-item " href="/support/discord">
              <span>
                <span class="icon">
                  <i class="fab fa-discord"></i>
                </span>
                <strong>Discord Community</strong>
              </span>
            </a>
            <a class="navbar-item " href="/support/youtube">
              <span>
                <span class="icon">
                  <i class="fab fa-youtube"></i>
                </span>
                <strong>YouTube Channel</strong>
              </span>
            </a>
            <a class="navbar-item " href="/support/fixerrors">
              <span>
                <span class="icon">
                  <i class="fas fa-exclamation-circle"></i>
                </span>
                <strong>Fixing errors on this website</strong>
              </span>
            </a>
          </div>
        </div>
      </div>
      <div class="navbar-end">
        <div class="navbar-item field">
          <form action="https://google.com/search" method="get">
            <p class="control has-icons-right">
              <input class="input is-rounded" name="q" id="search" type="search" placeholder="Search site with Google">
              <input type="hidden" name="sitesearch" value="https://bobpony.org" />
              <span class="icon is-small is-right">
                <i class="fas fa-search"></i>
              </span>
            </p>
          </form>
        </div>
      </div>

    </div>
  </div>
  </div>
  </div>
  </div>
</nav>
<section class="hero is-dark is-small">
  <div class="hero-body">
    <div class="container">
      <div class="columns">
        <div class="column is-1">
          <i class="{% if page.icon %}{{ page.icon }} fa-4x"></i>{% else %}fas fa-file fa-4x"></i>{% endif %}
        </div>
        <div class="column">
          <p class="title">
            {{ page.title }}
          </p>
          <p class="subtitle">
            {{ page.description }}
          </p>
        </div>
      </div>
      {{ page.qa1 }} {{ page.qa2 }}

      <div class="dropdown is-hoverable">
        <div class="dropdown-trigger">
          <button class="button is-rounded" aria-haspopup="true" aria-controls="dropdown-menu">
            <span class="icon is-small">
              <i class="far fa-file"></i>
            </span>
            <span>Page actions</span>
            <span class="icon is-small">
              <i class="fas fa-angle-down" aria-hidden="true"></i>
            </span>
          </button>
        </div>
        <div class="dropdown-menu" id="dropdown-menu" role="menu">
          <div class="dropdown-content">
            <a class="navbar-item " href="https://twitter.com/intent/tweet?text={{ page.title }}&url={{ site.url }}{{ page.url }}&via={{ site.twitter_username }}&related={{ site.twitter_username }}">
              <span>
                <span class="icon">
                  <i class="fab fa-twitter fa-lg"></i>
                </span>
                &nbsp; Tweet this page
              </span>
            </a>
            <a class="navbar-item " href="https://www.facebook.com/sharer/sharer.php?u={{ site.url }}{{ site.baseurl }}{{ page.url }}">
              <span>
                <span class="icon">
                  <i class="fab fa-facebook fa-lg"></i>
                </span>
                &nbsp; Share on Facebook
              </span>
            </a>
            <a class="navbar-item " href="https://plus.google.com/share?url={{ site.url }}{{ site.baseurl }}{{ page.url }}">
              <span>
                <span class="icon">
                  <i class="fab fa-google-plus fa-lg"></i>
                </span>
                &nbsp; Share on Google+
              </span>
            </a>
            <hr class="dropdown-divider">
            <a class="navbar-item " href="https://github.com/TheBobPony/bobpony.org/issues/new/choose">
              <span>
                <span class="icon">
                  <i class="fas fa-exclamation-circle fa-lg"></i>
                </span>
                &nbsp; Report issue
              </span>
            </a>
            <a class="navbar-item " href="https://github.com/TheBobPony/bobpony.org/edit/master/{{ page.path }}">
              <span>
                <span class="icon">
                  <i class="fas fa-edit fa-lg"></i>
                </span>
                &nbsp; Edit on GitHub
              </span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% include announcement.html %} {{content}}
<footer class="footer">
  <div class="container">
    <div class="content has-text-centered">
      <div class="columns">
        <div class="column">
          <h3>Stay together</h3>
          <div class="buttons has-addons patch-force-center">
            <span class="button is-danger" onclick="location.href='https://www.youtube.com/bobpony'">
              <i class="fab fa-youtube fa-lg"></i>
            </span>
            <span class="button is-info" onclick="location.href='https://twitter.com/TheBobPony'">
              <i class="fab fa-twitter fa-lg"></i>
            </span>
            <span class="button is-black" onclick="location.href='https://steamcommunity.com/groups/BobPony'">
              <i class="fab fa-steam-symbol fa-lg"></i>
            </span>
            <span class="button is-primary" onclick="location.href='https://www.twitch.tv/bobpony'">
              <i class="fab fa-twitch fa-lg"></i>
            </span>
            <span class="button is-black" onclick="location.href='https://github.com/TheBobPony'">
              <i class="fab fa-github fa-lg"></i>
            </span>
            <span class="button" onclick="location.href='https://gitlab.com/BobPony'">
              <i class="fab fa-gitlab fa-lg"></i>
            </span>
            <span class="button" onclick="location.href='https://www.reddit.com/r/BobPony/'">
              <i class="fab fa-reddit fa-lg"></i>
            </span>
            <span class="button is-black" onclick="location.href='https://discord.me/bobpony'">
              <i class="fab fa-discord fa-lg"></i>
            </span>
          </div>
          <!-- <br>
<a href="mailto:contact@bobpony.org"><i class="fas fa-envelope"></i> E-mail</a> -->
          <br>
          <a href="mailto:bobpony@outlook.com">
            <i class="fas fa-envelope"></i> E-mail</a>
        </div>
        <div class="column">
          <h3>Mini navigation</h3>
          <a href="/blog">Blog</a>
          <br>
          <a href="/community">Community</a>
          <br>
          <a href="/downloads">Downloads</a>
          <br>
          <a href="/gallery">Gallery</a>
          <br>
          <a href="/support">Support</a>
          <br>
        </div>
        <div class="column">
          <h3>Additional Links</h3>
          <a href="/about">About</a>
          <br>
          <a href="https://status.bobpony.org">Status</a>
          <br>
          <a href="/toolbox">Toolbox</a>
          <br>
        </div>
      </div>
      <p>
        <i class="far fa-copyright"></i> Bob Pony 2014 - 2018
      </p>
    </div>
  </div>
</footer>