---
layout: blank
---
 <nav class="navbar is-info" role="navigation" aria-label="dropdown navigation">
 <div class="navbar-menu">
    <div class="navbar-start">
  <a class="navbar-item">
    <img src="https://cdn.discordapp.com/icons/251862462343806976/175d81dca9514e22f587dd3af96070db.png" alt="Bob Pony Logo">
  </a>
<a href="/" class="navbar-item">
  Home
</a>
<a href="https://blog.bobpony.org" class="navbar-item">
  Blog
</a>
<a href="https://bobpony.org/downloads" class="navbar-item">
  Downloads
</a>
<a href="https://bobpony.org/gallery" class="navbar-item">
  Gallery
</a>
  <div class="navbar-item has-dropdown is-hoverable">
    <a class="navbar-link">
      More
    </a>

    <div class="navbar-dropdown">
      <a href="http://gitcities.cf" class="navbar-item">
        GitCities
      </a>
      <a href="https://docs.google.com/forms/d/e/1FAIpQLScvtP5oNmCvEeITR5EO5E3H17_rjKVg1iOGV4DUt_XSOpppAg/viewform" class="navbar-item">
        Submit video idea
      </a>
	<a href="https://bobpony.org/tools" class="navbar-item">
        Tools
      </a>
	  <a href="https://docs.google.com/forms/d/e/1FAIpQLScVBwxsxExujo1EXkiyI9vvfOCqoeNEbyxJyd9VqWyMHIfs2w/viewform?usp=sf_link" class="navbar-item">
  Send Feedback
</a>
      <hr class="navbar-divider">
      <a href="/about" class="navbar-item">
  About
</a>
<a href="/partners" class="navbar-item">
  Partners
</a>
      </div>
</div>
	    <a href="https://status.bobpony.org" class="navbar-item">
 Status
</a>
    </div>
  </div>
<div class="navbar-burger burger" data-target="navMenu" onclick="toggleBurger()">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>
   </div>
</nav>

{{content}}

<footer class="footer">
  <div class="container">
    <div class="content has-text-centered">
     
	 
<div class="columns">
  <div class="column">
  <b>Get connected</b>
     <div class="buttons has-addons">
  <span class="button is-danger" onclick="location.href='https://www.youtube.com/bobpony'"><i class="fab fa-youtube"></i></span>
  <span class="button is-info" onclick="location.href='https://twitter.com/TheBobPony'"><i class="fab fa-twitter"></i></span>
  <span class="button is-black" onclick="location.href='https://steamcommunity.com/groups/BobPony'"><i class="fab fa-steam-symbol"></i></span>
  <span class="button" onclick="location.href='https://www.twitch.tv/bobpony'"><i class="fab fa-twitch"></i></span>
  <span class="button" onclick="location.href='https://github.com/TheBobPony'"><i class="fab fa-github"></i></span>
  <span class="button" onclick="location.href='https://gitlab.com/BobPony'"><i class="fab fa-gitlab"></i></span>
  <span class="button" onclick="location.href='https://www.reddit.com/r/BobPony/'"><i class="fab fa-reddit"></i></span>
<span class="button" onclick="location.href='https://discord.me/bobpony'"><i class="fab fa-discord"></i></span>
</div>
<br>
<a href="mailto:contact@bobpony.org"><i class="fas fa-envelope"></i> E-mail</a>
<br>
<a href="mailto:bobpony@outlook.com"><i class="fas fa-envelope"></i> E-mail (Alt)</a>
  </div>
  <div class="column">
    <b>Mini Site map</b><br>
	<a href="https://blog.bobpony.org">Blog</a><br>
	<a href="https://network.bobpony.org">Bob Pony Network</a><br>
	<a href="https://bot.bobpony.org">Bot Pony Discord Bot</a><br>
	<a href="./partners">Partners</a><br>
  </div>
  <div class="column">
    <b>Additional Links</b><br>
	<a href="./about">About</a><br>
	<a href="https://status.bobpony.org">Status</a><br>
	<a href="./tools">Tools</a><br>
	<a href="./r">Random stuff</a><br>
  </div>
</div>
 <p>
        <i class="far fa-copyright"></i> Bob Pony 2014 - 2018
      </p>
    </div>
  </div>
</footer>
