---
layout: blank
---
 <nav class="navbar is-dark" role="navigation" aria-label="dropdown navigation">

    <div class="navbar-start container">
	 <div class="navbar-brand">
  <a href="/" class="navbar-brand">
    {% avatar TheBobPony  size=52%}
  </a>
  <span class="navbar-burger burger" data-target="navbarMenuHeroA">
            <span></span>
            <span></span>
            <span></span>
          </span>
		  </div>
		   <div id="navbarMenuHeroA" class="navbar-menu">
		   <div class="navbar-start">
  <a href="/blog" class="navbar-item {% if page.url == "/blog" %}is-active{% endif %}">
  Blog
</a>
<a href="/downloads" class="navbar-item {% if page.url == "/downloads" %}is-active{% endif %}">
  Downloads
</a>
<a href="/forums" class="navbar-item {% if page.url == "/forums" %}is-active{% endif %}">
  Forums
</a>
	<a href="/gallery" class="navbar-item {% if page.url == "/gallery" %}is-active{% endif %}">
	Gallery
	</a>
	<a href="/tools" class="navbar-item {% if page.url == "/tools" %}is-active{% endif %}">
        Tools
	</a>
  <div class="navbar-item has-dropdown is-hoverable">
    <a class="navbar-link">
      More
    </a>
    <div class="navbar-dropdown is-boxed">
	<a href="https://old.reddit.com/r/RaspberryPi10/" class="navbar-item">
        /r/RaspberryPi10
      </a>
      <a href="http://gitcities.cf" class="navbar-item">
        GitCities
      </a>
      <hr class="navbar-divider">
      <a href="/about" class="navbar-item">
  About
</a>
<!-- <a href="/partners" class="navbar-item">
  Partners
</a> -->
<hr class="navbar-divider">
	  <a href="https://docs.google.com/forms/d/e/1FAIpQLScVBwxsxExujo1EXkiyI9vvfOCqoeNEbyxJyd9VqWyMHIfs2w/viewform?usp=sf_link" class="navbar-item">
  Send Feedback
</a>
<a href="https://docs.google.com/forms/d/e/1FAIpQLScvtP5oNmCvEeITR5EO5E3H17_rjKVg1iOGV4DUt_XSOpppAg/viewform" class="navbar-item">
        Submit video idea
      </a>
      </div>  
</div>
	    <a href="https://status.bobpony.org" class="navbar-item">
 Status
</a>
</div>
 <div class="navbar-end">
<div class="navbar-item field">
<form action="https://google.com/search" method="get">
              <p class="control has-icons-right">
                <input class="input" name="q" id="search" type="search" placeholder="Search with Google">
				<input type="hidden" name="sitesearch" value="https://bobpony.org" />
                <span class="icon is-small is-right">
                  <i class="fas fa-search"></i>
                </span>
              </p>
			  </form>
            </div>
			</div>
			
			</div>
    </div>
  </div>
    </div>
   </div>
</nav>
<section class="hero is-dark">
  <div class="hero-body">
    <div class="container">
   <div class="columns">
	<div class="column is-narrow"><i class="{{ page.icon }} fa-4x"></i></div>
	<div class="column">
    <p class="title">
      {{ page.title }}
    </p>
    <p class="subtitle">
      {{ page.description }}
    </p>
	</div>
	</div>
	{{ page.qa1 }}
		{{ page.qa2 }}
		<a class="button is-rounded" href="https://github.com/TheBobPony/bobpony.org/edit/master/{{ page.path }}">
    <span class="icon is-small">
      <i class="fas fa-pencil-alt"></i>
    </span>
    <span>Edit this page on GitHub</span>
  </a>
  </div>
  </div>
</section>
{{content}}
<footer class="footer">
  <div class="container">
    <div class="content has-text-centered">
<div class="columns">
  <div class="column">
  <b>Get connected</b>
     <div class="buttons has-addons">
  <span class="button is-danger" onclick="location.href='https://www.youtube.com/bobpony'"><i class="fab fa-youtube"></i></span>
  <span class="button is-info" onclick="location.href='https://twitter.com/TheBobPony'"><i class="fab fa-twitter"></i></span>
  <span class="button is-black" onclick="location.href='https://steamcommunity.com/groups/BobPony'"><i class="fab fa-steam-symbol"></i></span>
  <span class="button" onclick="location.href='https://www.twitch.tv/bobpony'"><i class="fab fa-twitch"></i></span>
  <span class="button" onclick="location.href='https://github.com/TheBobPony'"><i class="fab fa-github"></i></span>
  <span class="button" onclick="location.href='https://gitlab.com/BobPony'"><i class="fab fa-gitlab"></i></span>
  <span class="button" onclick="location.href='https://www.reddit.com/r/BobPony/'"><i class="fab fa-reddit"></i></span>
<span class="button" onclick="location.href='https://discord.me/bobpony'"><i class="fab fa-discord"></i></span>
</div>
<!-- <br>
<a href="mailto:contact@bobpony.org"><i class="fas fa-envelope"></i> E-mail</a> -->
<br>
<a href="mailto:bobpony@outlook.com"><i class="fas fa-envelope"></i> E-mail</a>
  </div>
  <div class="column">
    <b>Mini Site map</b><br>
	<a href="https://blog.bobpony.org">Blog</a><br>
	<a href="https://bot.bobpony.org">Bot Pony Discord Bot</a><br>
	<a href="../downloads">Downloads</a><br>
	<a href="../gallery">Gallery</a><br>
	<!-- <a href="../partners">Partners</a><br> -->
  </div>
  <div class="column">
    <b>Additional Links</b><br>
	<a href="../about">About</a><br>
	<a href="https://status.bobpony.org">Status</a><br>
	<a href="../tools">Tools</a><br>
  </div>
</div>
 <p>
        <i class="far fa-copyright"></i> Bob Pony 2014 - 2018
      </p>
    </div>
  </div>
</footer>
