---
layout: page
---
<div class="content container">
<br />
<a class="button is-info is-rounded" href="https://twitter.com/intent/tweet?text={{ page.title }}&url={{ site.url }}{{ page.url }}&via={{ site.twitter_username }}&related={{ site.twitter_username }}" rel="nofollow" target="_blank">
    <span class="icon is-small">
      <i class="fab fa-twitter"></i>
    </span>
    <span>Tweet</span>
  </a><br />
<br />
{{ content }}
<br />
{% include comments.html %}
<br />
</div>
<script id="dsq-count-scr" src="//bobponyweb.disqus.com/count.js" async></script>
